:root {
	--FirstColor: #f3f3f3;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--FirstColor);
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 2.2rem 3rem;
    border-radius: 5px;
}
.container {
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}
/* remove arrow from input [number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* *************** image *************** */
.row{
    background-color: #fff;
    padding: 1rem 0rem;
    border-radius: 5px;
}
.image-reg {
    width: 100%;
    text-align: center;
}
.image-reg img {
    width: 75%;
}

/* *************** form *************** */
.form-reg{
    /* background-color: red; */
    padding: 10px;
}

.form-reg h3{
    color: #04aa6d;
    text-transform: uppercase;
}

.form-reg >p{
    margin-bottom: .5rem !important;
}

.form-reg .frm{
    border-radius: 10px;
}

.form-reg .frm .group{
    /* background-color: tan; */
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(107, 106, 106 , .3) ;
    border-radius: 25px;
}

.frm .group .fas,.frm .group .far{
    color: rgb(107, 106, 106 , .3);
    font-size: 22px;
    text-align: center;
    width: 10%;
    /* background-color: teal; */
}

.frm .group .int{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 0px 25px 25px 0px;

}
.int label{
    margin: 0;
    margin-right: auto;
    width: 100%;
    font-size: 13px;
}

.int input{
    /* background-color: violet; */
    border: none;
    width: 95%;
    margin-right: auto;
    margin-bottom: 3px;
    caret-color: #09c;
    color: #09c;
    border-radius: 0px 25px 25px 0px;

}

.int input:focus{
    outline: none !important;
    border: none !important;
}

.btn-groups{
    margin: 5px 0px;
}
@media screen and (min-width:1000px) {
    .form-reg{
        padding: 25px 50px;
    }
}

@media screen and (max-width:400px) {
    
    .btn-groups button{
        margin: 3px 0px;
    }
    .frm .group .int{
        /* background-color: darkcyan; */
        width: 82%;
    }
    .frm .group .fas,.frm .group .far{
        width: 18%;
        /* background-color: red; */
    }
}


#login{
    background-color: #04aa6d;
    color: #fff;
}

#login:hover{
    background-color: rgb(2, 133, 85);
}

#signUpA{
    text-decoration: none;
}
a[tabindex]:focus{
    color: #fff;
    outline: none;
}

.form-reg p{
    margin: 0;
}
.form-reg .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.form-reg .icon .icon-cir{
    margin: 5px  5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.icon .icon-cir i{
    font-size: 20px;
    color: #04aa6d;
}
/* errorMsgPage */
#cover{ 
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 4;
}
/* errorMsg */
#layout{
    position: relative;
    width: 30%;
    height: 30%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--FirstColor);
    border-radius: 15px;
    font-size: 30px;
    z-index: 6;
}
#exit{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #444;
    font-size: 25px;
    transition: transform 500ms;
}
#exit:hover{
    cursor: pointer;
    color: #04aa6d;
    transform: rotate(45deg);
}
@media screen and (max-width:500px){
    #layout {
        font-size: 15px;
    }
}